name: Scan GitHub Release with VirusTotal

on:
  release:
    types: [released]
  push:
    branches: [vt]

jobs:
  scan_release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Download Release Assets
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          mkdir assets
          #gh release download ${{ github.event.release.tag_name }} --dir assets
          gh release download v0.0.17 --dir assets --pattern "*windows*"

      - name: Extract Archives
        run: |
          for file in assets/*; do
            targetDir="extracted/$(basename ${file})"
            mkdir -p "${targetDir}"
            if [[ $file == *.zip ]]; then
              unzip -o "$file" -d "${targetDir}"
            elif [[ $file == *.tar.gz ]]; then
              tar -xzf "$file" -C "${targetDir}"
            elif [[ $file == *.tar.xz ]]; then
              tar -xJf "$file" -C "${targetDir}"
            elif [[ $file == *.rar ]]; then
              unrar x "$file" "${targetDir}"/
            fi
          done

      - name: Upload Extracted Files to VirusTotal
        id: virustotal_scan
        env:
          VT_API_KEY: ${{ secrets.VT_API_KEY }}
        run: |
          echo "VirusTotal Scan Results:" > vt_results.txt
          
          for file in extracted/*/*.exe; do
            if [[ -f "$file" ]]; then
              response=$(curl -s --request POST \
                --url https://www.virustotal.com/api/v3/files \
                --header "x-apikey: $VT_API_KEY" \
                --form "file=@$file")
          
              scan_id=$(echo $response | jq -r '.data.id')
              scan_link="https://www.virustotal.com/gui/file-analysis/$scan_id/detection"
              echo "- $file: $scan_link" >> vt_results.txt
            fi
          done
          
          cat vt_results.txt

      - name: Update GitHub Release with Scan Results
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          #gh release view ${{ github.event.release.tag_name }} --json body -q .body > existing_notes.txt || echo "" > existing_notes.txt
          gh release view v0.0.17 --json body -q .body > existing_notes.txt || echo "" > existing_notes.txt
          cat existing_notes.txt vt_results.txt > updated_notes.txt
          #gh release edit ${{ github.event.release.tag_name }} --notes-file updated_notes.txt
          gh release edit v0.0.17 --notes-file updated_notes.txt
